footer {
	position: absolute;
	min-height: 14vh;
	margin-top: 1rem;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.5rem;
	background-color: #1C1C1C;
	text-align: center;
	box-shadow: 3px 0.4px 3px 2px black;
}
.relative {
	position: relative;
}

footer p {
	font-size: 2rem;
	color: #2e2727df;
}

footer ul {
	display: inline-block;
	margin-right: 10rem;
}

footer li {
	list-style: none;
}

footer h3 {
	font-size: 2.2rem;
}

@media(max-width: 972px) {
	footer {
		padding: 0;
		bottom: initial;
	}

	footer ul {
		display: inline-block;
		margin: 1rem 0;

	}

	footer ul:nth-child(1) {
		margin-right: 1rem;
	}

	footer ul:nth-child(2) {
		margin-left: 1rem;
	}

	footer p,
	footer h3 {
		font-size: 15px;
		line-height: 1.5;
	}
}