* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}


.first-section {
    text-transform: uppercase;
    font-size: 18px;
}

.second-section .titulo-section {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.second-section-table {
    width: 95%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.second-section-table i {
    padding: 4px;
    margin-right: 7px;
    font-size: 20px; 
    color: red;
}

.second-section-table tbody tr {
    justify-content: space-between;
}

.second-section-table th {
    padding: 4px;
    align-content: center;
}

.second-section-table a {
    outline: none;
    color: rgba(95, 95, 95, 0.9);
}

.second-section-table .firstcontent a:hover, .second-section-table a:hover {
    text-decoration: none;
}

.second-section-table tbody tr {
    border: 1px solid rgba(138, 138, 138, 0.9);
    text-align: left;
}

.second-section-table tbody td {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 12px 10px;
}

.second-section-table tbody td p {
    font-size: 12px;
    color: rgba(95, 95, 95, 0.9);
    text-transform: capitalize;
}

.second-section-table th {
    border: 1px solid rgba(138, 138, 138, 0.9);
}

.second-section-table #first-content {
    background-color: rgba(128, 128, 128, 0.3);
}

.content .second-section-table th {
    text-transform: uppercase;
}

.footer {
    height: 500px;
}

.btn {
    color: white;
    width:395px;
    height: 90px;
    position: absolute;
    top: 340px;
    left: 90px;
    background-color: black;
    z-index: 10;
    background-image: linear-gradient(to left, grey, black);
    background-size: 400%;
    background-position: left;
    transition: background-position 1s;
}

.btn:hover {
    background-position: right;
}