* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}


.first-section {
    text-transform: uppercase;
    font-size: 18px;
}

.second-section .titulo-section {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.second-section-table {
    width: 95%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.second-section-table i {
    padding: 4px;
    margin-right: 7px;
    font-size: 20px; 
    color: red;
}

.second-section-table tbody tr {
    justify-content: space-between;
}

.second-section-table th {
    padding: 4px;
    align-content: center;
}

.second-section-table a {
    outline: none;
    color: rgba(95, 95, 95, 0.9);
}

.second-section-table .firstcontent a:hover, .second-section-table a:hover {
    text-decoration: none;
}

.second-section-table tbody tr {
    border: 1px solid rgba(138, 138, 138, 0.9);
    text-align: left;
}

.second-section-table tbody td {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 12px 10px;
}

.second-section-table tbody td p {
    font-size: 12px;
    color: rgba(95, 95, 95, 0.9);
    text-transform: capitalize;
}

.second-section-table th {
    border: 1px solid rgba(138, 138, 138, 0.9);
}

.second-section-table #first-content {
    background-color: rgba(128, 128, 128, 0.3);
}

.content .second-section-table th {
    text-transform: uppercase;
}

.footer {
    height: auto;
    width: 100%;
}

.footer-menu {
    display: flex;
}

.footer div {
    padding: 30px 0 30px 2px;
    justify-content: space-between;
}

.footer-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-content {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.8);
    text-transform: initial;
}

#first-footer-content {
    width: 30%;
}

#second-footer-content {
    width: 30%;
    margin-left: 50px;
}

#third-footer-content {
    width: 20%;
    margin-left: 80px;
}

#fourth-footer-content {
    width: 20%;
    margin-left: 140px;
}

#fifth-footer-content {
    width: 30%;
    padding-left: 300px;
}

#sixth-footer-content {
    width: 20%;
    position: relative;
    top: 160px;
    right: 110px;
    height: 100px;
}

#seventh-footer-content {
    position: absolute;
    bottom: -540px;
    right: 100px;
}

.footer-menu i {
    font-size: 20px;
}

.btn {
    color: white;
    width: 400px;
    height: 80px;
    position: absolute;
    left: -6em;
    bottom: 1em;
    background-color: black;
    background-image: linear-gradient(to left, grey, black);
    background-size: 400%;
    background-position: left;
    transition: background-position 1s;
}

.btn:hover {
    background-position: right;
}

#second-btn {
    padding: 6px 3px;
    border-radius: 10%;
    height: auto;
    width: auto;    
}

button[type="button"] {
    outline: none;
}